<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DB1" connectionString="Server=(localdb)\mssqllocaldb;Database=Dennis-OOA-Inlämning1;Trusted_Connection=True;" providerName="System.Data.sqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>