@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
        <h1>GENEALOGI | Dennis Byberg</h1>
</div>
    <div class="row">
        <div class="col-md-4">
            <h2>Sources</h2>
            <p><a class="btn btn-default" href="https://getbootstrap.com">GetBootStrap &raquo;</a></p>
            <p><a class="btn btn-default" href="https://youtube.com">Youtube &raquo;</a></p>
            <p><a class="btn btn-default" href="https://google.com">Google &raquo;</a></p>
            <p><a class="btn btn-default" href="https://stackoverflow.com">Stack Overflow &raquo;</a></p>
            <p><a class="btn btn-default" href="https://w3schools.com">W3 Schools &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Simpsons</h2>
            <p>do you want a picture of what "The Simpsons" family tree looks like?</p>
            <p><a class="btn btn-default" href="https://www.englishexercises.org/makeagame/viewgame.asp?id=14536">Click Here! &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>GitHub</h2>
            <p>You can download the completed project from my GitHub in the link below!.</p>
            <p><a class="btn btn-default" href="https://github.com/DennisByberg?tab=repositories">Click Here! &raquo;</a></p>
        </div>
    </div>
