<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="master" connectionString="Server=(localdb)\mssqllocaldb;Database=master;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
		<add name="PeopleDB" connectionString="Server=(localdb)\mssqllocaldb;Database=TT_Net21_People;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="sqlDir" value="..\..\..\SQL\"/>
		<add key="importedTables" value="..\..\..\SQL\importedTables.txt"/>
		<add key="dbName" value="TT_Net21_People"/>
	</appSettings>
</configuration>